@{
    ViewData["Title"] = "Контактная информация";
}
<h2>@ViewData["Title"]</h2>

<address>
    Петрозаводск, Республика Карелия, Россия<br />
    Александр Бахматов<br />
    <abbr title="Телефон">Тел:</abbr>
    +79215268879
</address>

<address>
    <strong>Поддержка:</strong> <a href="mailto:hackcatt@gmail.com">hackcatt@gmail.com</a>
</address>