@{
    ViewData["Title"] = "Данная страница недоступна для просмотра или не существует.";
}
<h2 style="color:crimson"><b><i><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;@ViewData["Title"]</i></b></h2>
<hr />
<a asp-area="" asp-controller="Home" asp-action="Index">На главную страницу</a>