@model TestWork.ViewModels.LoginViewModel

<h2>Вход на сайт</h2>
<hr />
<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div id="login_form" class="row">
        <div class="col-md-4">
            @{
                if (Model.wrongUsernameOrPasswordFlag == true)
                {
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:crimson">&nbsp;</span><p style="color:red"><b><i>Неверное имя пользователя и/или неверный пароль. Попроуйте ещё раз.</i></b></p>
                    <br />
                }
             }
            <a asp-action="Register" asp-controller="Account">Регистрация</a>
            <br /><br />
            <div class="form-group">
                <label asp-for="UsersEmail">Введите Email</label>
                <input asp-for="UsersEmail" class="form-control" />
                <span asp-validation-for="UsersEmail" />
            </div>
            <div class="form-group">
                <label asp-for="UsersPassword">Введите пароль</label>
                <input asp-for="UsersPassword" class="form-control" />
                <span asp-validation-for="UsersPassword" />
            </div>
            <br />
            <div class="form-group">
                <input id="button_login" type="submit" value="Войти" class="btn btn-default" />
            </div>
        </div>
     </div>
</form>